.cabecalho{
    background-color: var(--fundo-azul);
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    width: 45px;
    height: 45px;
}


.container__titulo, .container__imagem, .container__frase{
    padding: 1em;
    color: white;
}

.container__titulo, .container__frase{
    display: none;
}

@media  screen and (min-width: 820px) {
    .container__titulo{
        font-size: 30px;
        display: inline-block;
    }

    .container__titulo{
        font-weight: 400;
    }
}

@media  screen and (min-width: 1024px) {
    .container__frase{
        font-size: 30px;
        display: inline-block;
    }

    .container__frase{
        font-weight: 400;
        padding-left: 5em;
    }
}

